<div id="nav-data" class="hidden"
	data-user="<%= JSON.stringify(user)%>">
</div>

<nav class="navbar navbar-inverse fixed-top">
	<a class="navbar-brand" href="/listings">HammerTime</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<% if(typeof(user) == "undefined") { %>
		<ul class="nav navbar-nav ml-auto flex-across">
			<li class="nav-item">
				<a class="nav-link" href="/users/register">Sign Up</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/users/login">Log In</a>
			</li>
		</ul>
	<% } else { %>
		<ul class="nav navbar-nav ml-auto flex-across">
			<li class="nav-item flexdown hspace">
				<a class="big nopad" href="/listings/new"><i class="fa fa-plus-square big" aria-hidden="true"></i></a>
			</li>
			<li class="nav-item dropdown flexdown hspace">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bell big relative" aria-hidden="true">
						<div id="dot" class="dot"></div>
					</i>
        </a>
        <div id="notification-container" class="dropdown-menu" aria-labelledby="navbarDropdown" style="position:absolute; left:-10px;width: 230px;max-height:200px; overflow-y:scroll">
        </div>
      </li>
			<li class="nav-item dropdown flexdown hspace">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user big" aria-hidden="true">
						<%= user.username %>
					</i>

        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="position:absolute">
          <a class="dropdown-item" href="/users/account">Account</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
      </li>
		</ul>
	<% } %>
</nav>
<main role="main" class="container">
