<nav class="navbar navbar-inverse fixed-top">
	<a class="navbar-brand" href="/">HammerTime</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<% if(typeof(user) == "undefined") { %>
		<ul class="nav navbar-nav ml-auto flex-across">
			<li class="nav-item">
				<a class="nav-link" href="/users/register">Sign Up</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/users/login">Log In</a>
			</li>
		</ul>
	<% } else { %>
		<ul class="nav navbar-nav ml-auto flex-across">
			<li class="nav-item">
				<a class="nav-link" href="/listings/new"><button class="btn btn-primary">Add a new listing</button></a>
			</li>
			<li>
				<a class="nav-link" href="/users/account">Account</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/users/logout">Log Out</a>
			</li>
		</ul>
	<% } %>
</nav>
<main role="main" class="container">
