<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?" name="query">
      <button type="submit" class="searchButton" name="search">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
