<div class="wrap">
   <div class="search">
      <input type="text" class="searchTerm" placeholder="What are you looking for?" name="query">
      <select class="searchTerm" id="condition" name="category">
					<option value="">Filter</option>
					<% var categories = ['Apparel', 'Beauty', 'Books', 'Camera', 'Cell Phones', 'Collectables', 'Jewelry', 'Fine Art', 'Handmade', 'Health', 'Music', 'Music Instruments', 'Office', 'Outdoors', 'Software', 'Video Games', 'Board Games', 'Toys', 'Sports', 'Tools', 'Videos']; 
					categories.sort();
					categories.forEach((category) => { %>
						<option value="<%= category %>"><%= category %></option>
					<% }); %>
				</select>
      <button type="submit" class="searchButton" name="search">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
