<div class="wrap">
   <div class="search">
      <input id="search" type="text" class="searchTerm" placeholder="What are you looking for?" name="query" <%- typeof(query) != "undefined" ? "value='" + query + "'" : "" %>>
      <select class="searchFilter" id="category" name="category">
					<option value="">No Category</option>
					<% var categories = ['Apparel', 'Beauty', 'Books', 'Camera', 'Cell Phones', 'Collectables', 'Jewelry', 'Fine Art', 'Handmade', 'Health', 'Music', 'Music Instruments', 'Office', 'Outdoors', 'Software', 'Video Games', 'Board Games', 'Toys', 'Sports', 'Tools', 'Videos'];
					categories.sort();
					categories.forEach((category) => {
						var selected = "";
						if(typeof(filter) != "undefined") {
							if(filter == category) {
								selected = "selected";
							}
						} %>
						<option value="<%= category %>" <%=selected%>><%= category %></option>
					<% }); %>
				</select>
      <button id="searchSubmit" class="searchButton" name="search">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
