<%- include("partials/head", {title: "HammerTime"})%> <!-- has the head tag with projectg wide css-->
<%- include("partials/navbar") %> <!-- has the navbar and beginning body tag -->

<!-- body of the webpage goes here -->
<h1><%= title %></h1>


<%- include("partials/footer") %> <!-- has the footer and project wide scripts -->
<!-- Place any client side javascript here -->
</body>
</html>