@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.flexdown{
  display:flex!important;
  flex-direction: down!important;
  align-items:center;
}

.big{
  font-size:22pt;
}

.kinda-big{
  font-size:18pt;
}

.nopad{
  padding:0!important;
}

.hspace{
  margin-right:10px;
}

.match-color{
  color:#9D9D9D;
}

.searchTerm {
  width: 100%;
  height:100%;
  border: 3px solid #555555;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #555555;
}

.searchTerm:focus{
  color: #555555;
}

.searchFilter {
  width: 300px;
  height: 36px;
  border: 3px solid #555555;
  /* background: #555555; */
  text-align: center;
  /* color: #fff; */
  border-radius: 0 0 0 0;
  cursor: pointer;
  font-size: 20px;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #555555;
  background: #555555;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 100%;
  margin-bottom:10px;
}
