<%- include("partials/head", {title: "HammerTime", files: ['']})%>
<%- include("partials/navbar") %>


<h1>Register</h1>

<% if(typeof(info) != "undefined") { %>
	<p><%= info %></p>
<% } %>

<form action="/users/register" method="POST">
	<div class="form-group">
		<div class="row">
			<label for="username">Username: </label>
			<input id="username" type="text" class="form-control" name="username" placeholder="Please enter your username" />
		</div>
		<div class="row">
			<label for="password">Password: </label>
			<input id="password" type="password" class="form-control" name="password" placeholder="Please enter your password" />
		</div>
		<div class="row">
			<input type="submit" value="register" name="register" />
			&nbsp;
			<a href="/"><button class="btn">Cancel</button></a>
		</div>
	</div>
</form>

<%- include("partials/footer") %>
<script src="/js/register.js"></script>

</body>
</html>